{% extends "blog/header.html" %}

{% block content %}
    <p>Is starred: {{blogpost.is_starred|yesno}}</p>
    <h1>{{blogpost.title}}</h1>
    <h5>on {{blogpost.posted}}</h5>
    {{blogpost.body|safe|linebreaks}}
    <a href="{% url 'post_list' %}">Go back to the posts</a>
    <form action="{% url 'like_post' %}" method="POST" id="like-form">{% csrf_token %}
        <button id="like-btn" data-pk="{{blogpost.id}}" type="submit">{{blogpost.is_starred|yesno:"Dislike,Like"}}</button>
    </form>
    <form action="{% url 'del_post' %}" method="POST" id="del-form">{% csrf_token %}
        <button id="del-btn" data-pk="{{blogpost.id}}" type="submit">Delete Post</button>
    </form>
    {% load static%}
    <script src="{% static 'scripts/main.js' %}"></script>
    <script src="{% static 'scripts/like_post.js' %}"></script>
    <script src="{% static 'scripts/del_post.js' %}"></script>
{% endblock %}
